@model List<VehicleUT.Models.ViewModels.FilterVM>

<html lang='en'>
<head>
    <link href='~/css/service-v1.css' rel='stylesheet' />
    <link href='~/calendar/main.css' rel='stylesheet' />
    <link href="~/css/W3.css" rel="stylesheet" />
</head>

<body>
    <div class="row">
        <div id='calendar' class="column1">
            <p>Calender from <a href="https://fullcalendar.io/">FullCalendar</a></p>
        </div>
        <div class="column2">
            <div style="align-content: center">
                <a class="btn btn-info" style="width:80%" asp-action="Create">Create new Event</a>
            </div>
            <div style="padding-top:20px; align-content: center">
                <input type="button" id='swap' style="width:80%" class="btn btn-info" value="Calendar View" />
            </div>
            <div style="padding-top:20px">
                @for (int i = 0; i < Model.Count; i++) {
                    <div value="@i" class="filter; btn btn-light" style="width:80%; margin-bottom:20px;">
                        <input id="@i" type="checkbox" checked />
                        @foreach (var j in Model.ElementAt(i).ServiceID) {
                            <p class="@i" style="display:block">@j</p>
                        }
                        <label>@Model.ElementAt(i).Name</label>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>

<div id="eventInfo" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="column" style="text-align:center">
                <h3 class="modal-title" />
            </div>
            <div class="column" style="text-align:center">
                <h3 class="modal-date" />
            </div>
        </div>
        <div class="modal-body">
            <h4 class="modal-location" />
            <br />
            <h5 class="modal-description" />
        </div>
        <div style="display: flex; justify-content: center;">
            <img class="modal-receipt" style="width: 60%" src="" alt="" />
        </div>
        <a asp-action="Edit" type="button" id="modal-edit" class="btn btn-warning">Edit</a>
        <button id="close" type="button" class="btn btn-danger">Close</button>
    </div>
</div>


@section Scripts{
    <script src='~/calendar/main.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                initialView: 'listYear',
                events: '/Service/GetEvents',
                displayEventTime: false,
                color: event.backgroundColor,
                borderColor: event.backgroundColor,
                eventClick: function (info) {
                    $('#modal-edit').attr('href', document.URL + info.event.extendedProps.edit);
                    $('.modal-title').html(info.event.title);
                    $('.modal-location').html(info.event.extendedProps.location);
                    $('.modal-date').html(dateFormat(info.event.start));
                    $('.modal-description').html(info.event.extendedProps.description);
                    $('.modal-receipt').attr('src', info.event.extendedProps.receipt);
                    $('#eventInfo').modal('show');
                    $('#close').click(function () {
                        $('#eventInfo').modal('hide');
                    })
                },
            });
            calendar.render();

            var swap = document.getElementById('swap');
            swap.addEventListener('click', function () {
                if (swap.value == 'List View') {
                    calendar.changeView('listYear');
                    swap.value = 'Calendar View';
                }
                else {
                    calendar.changeView('dayGridMonth');
                    swap.value = 'List View';
                }
            });
            var filter = document.getElementsByClassName('filter');
            for (var i = 0; i < filter.length; i++) {
                filter[i].addEventListener('click', function () {
                    var checkbox = document.getElementById(this.value);
                    //var ids = document.getElementsByClassName(this.value);
                    if (checkbox.checked == true) {
                        checkbox.checked = false;
                    }
                    else {
                        checkbox.checked = true;
                    }
                })
            };
            
        });

        //function filter(id) {
        //    var checkbox = document.getElementById(id);
        //    var ids = document.getElementsByClassName(id);
        //    var calendar = document.getElementById('calendar');
        //    if (checkbox.checked == true) {
        //        checkbox.checked = false;
        //        for (var i = 0; i < ids.length; i++) {
        //            calendar.getEventById(ids[i].textContent).display = 'none';
        //            calendar.remove();
        //        }
        //    }
        //    else {
        //        checkbox.checked = true;
        //    }
        //};

        function dateFormat(time) {
            var dt = new Date(time);
            var DD = ("0" + dt.getDate()).slice(-2);
            var month = new Array();
            month[0] = "January";
            month[1] = "February";
            month[2] = "March";
            month[3] = "April";
            month[4] = "May";
            month[5] = "June";
            month[6] = "July";
            month[7] = "August";
            month[8] = "September";
            month[9] = "October";
            month[10] = "November";
            month[11] = "December";
            var MM = month[dt.getMonth()];
            if (dt.getHours() > 12) {
                var hh = (dt.getHours() - 12);
                var ht = 'PM';
            }
            else {
                var hh = dt.getHours();
                var ht = 'AM';
            }
            var mm = ("0" + dt.getMinutes()).slice(-2);
            var date_string = MM + " " + DD + " " + hh + ":" + mm + " " + ht;
            return date_string;
        }

    </script>
}