@model List<VehicleUT.Models.ViewModels.FilterVM>

<html lang='en'>
<head>
    <link href='~/css/service-v1.css' rel='stylesheet' />
    <link href='~/calendar/main.css' rel='stylesheet' />
    <link href="~/css/W3.css" rel="stylesheet" />
</head>

<body>
    <div class="row">
        <div id="calendar" class="column1">
            <p>Calender from <a href="https://fullcalendar.io/">FullCalendar</a></p>
        </div>
        <div class="column2">
            <div style="align-content: center">
                <a class="btn btn-info" style="width:80%" asp-action="Create">Create new Event</a>
            </div>
            <div style="padding-top:20px; align-content: center">
                <input type="button" id='swap' style="width:80%" class="btn btn-info" value="Calendar View" />
            </div>
            <div style="padding-top:20px">
                <p style="font-size:smaller">Search by Location or Type</p>
                <input type="text" id="searchbar" />
            </div>
            <div style="padding-top:20px">
                @for (int i = 0; i < Model.Count; i++) {
                    <div class="btn btn-light" name="@Model.ElementAt(i).VehicleID" style="width:80%; margin-bottom:20px;">
                        <div class="filter">
                            <input id="@i" type="checkbox" class="filterCheck" checked />
                            @foreach (var j in Model.ElementAt(i).ServiceID) {
                                <p class="@i" style="display:block" hidden>@j</p>
                            }
                            <label>@Model.ElementAt(i).Name</label>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>

<div id="eventInfo" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="column" style="text-align:center">
                <h3 class="modal-title" />
            </div>
            <div class="column" style="text-align:center">
                <h3 class="modal-date" />
            </div>
        </div>
        <div class="modal-body">
            <h4 class="modal-location" />
            <br />
            <h5 class="modal-description" />
        </div>
        <div style="display: flex; justify-content: center;">
            <img class="modal-receipt" style="width: 60%" src="" alt="" />
        </div>
        <a asp-action="Edit" type="button" id="modal-edit" class="btn btn-warning">Edit</a>
        <button id="close" type="button" class="btn btn-danger">Close</button>
    </div>
</div>


@section Scripts{
    <script src="~/calendar/main.js"></script>
    <script src="~/js/site-v1.js"></script>
    <script src="~/calendar/locales-all.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                initialView: 'listYear',
                events: '/Service/GetEvents',
                displayEventTime: false,
                color: event.backgroundColor,
                eventClick: function (info) {
                    $('#modal-edit').attr('href', document.URL + info.event.extendedProps.edit);
                    $('.modal-title').html(info.event.title);
                    $('.modal-location').html(info.event.extendedProps.location);
                    $('.modal-date').html(dateFormat(info.event.start));
                    $('.modal-description').html(info.event.extendedProps.description);
                    $('.modal-receipt').attr('src', info.event.extendedProps.receipt);
                    $('#eventInfo').modal('show');
                    $('#close').click(function () {
                        $('#eventInfo').modal('hide');
                    })
                },
            });

            var filter = document.getElementsByClassName('filter');
            for (let k = 0; k < filter.length; k++) {
                var fil = filter[k]
                fil.addEventListener('click', function () {

                    var checkbox = document.getElementById(k);
                    var ids = document.getElementsByClassName(k)
                    if (checkbox.checked == true) {
                        checkbox.checked = false
                        for (var i = 0; i < ids.length; i++) {
                            calendar.getEventById(ids[i].innerHTML).setProp('display', 'none')
                        }
                    }
                    else {
                        checkbox.checked = true
                        for (var i = 0; i < ids.length; i++) {
                            calendar.getEventById(ids[i].innerHTML).setProp('display', 'auto')
                        }
                    }
                });
            };

            var swap = document.getElementById('swap');
            swap.addEventListener('click', function () {
                if (swap.value == 'List View') {
                    calendar.changeView('listYear');
                    swap.value = 'Calendar View';
                }
                else {
                    calendar.changeView('dayGridMonth');
                    swap.value = 'List View';
                }
                var date = new Date();
                calendar.gotoDate(date.toISOString());
            });

            var search = document.getElementById('searchbar');
            search.addEventListener('keyup', function () {
                let events = calendar.getEvents()
                for (var i = 0; i < events.length; i++) {
                    var tit = events[i].title;
                    var loc = events[i].extendedProps.location;
                    if (tit.toUpperCase().indexOf(search.value.toUpperCase()) > -1 || loc.toUpperCase().indexOf(search.value.toUpperCase()) > -1) {
                        events[i].setProp('display', 'auto');
                    }
                    else {
                        events[i].setProp('display', 'none');
                    }
                    
                };
            });
            calendar.render();
        });

    </script>
}