@model IEnumerable<Vehicle>


<head>
    <link href="~/css/site-v1.css" rel="stylesheet" />
    <link href='~/css/service-v1.css' rel='stylesheet' />
    <script src="~/js/site-v1.js"></script>
</head>

<br />
<div class="container row p-0 m-0">
    <div class="col-6" style="text-align:center">
        <h2 class="text-info">Your Vehicles</h2>
    </div>
    <div class="col-6" style="text-align:center">
        <a asp-action="Create" class="btn btn-info form-control text-white">Add Vehicle</a>
    </div>
</div>
<br />
<div class="box">
    @if (Model.Count() > 0) {
        <div class="Head" style="border:3px groove black; border-bottom:none">
            <h3 style="border-right:solid medium black">
                <label>Make</label>
            </h3>
            <h3 style="border-right:solid medium black">
                <label>Model</label>
            </h3>
            <h3 style="border-right:solid medium black">
                <label>Year</label>
            </h3>
            <h3>
                <label>Mileage</label>
            </h3>
        </div>
        @for (int i = 0; i < Model.Count(); i++) {
            <div class="infoBlock" onclick="showOptions(@i)">
                <div class="Head">
                    <h3>@Model.ElementAt(i).Make</h3>
                    <h3>@Model.ElementAt(i).Model</h3>
                    <h3>@Model.ElementAt(i).Year</h3>
                    <h3>@Model.ElementAt(i).Mileage</h3>
                </div>

                <div class="options" style="display:none">
                    <button onclick="openModal(@Model.ElementAt(i).VehicleId)" class="btn btn-primary">Update Mileage</button>
                    <a asp-route-Id="@Model.ElementAt(i).VehicleId" asp-action="Edit" class="btn btn-primary">Edit</a>
                    <a asp-route-id="@Model.ElementAt(i).VehicleId" asp-action="Delete" onclick="return confirm('Are you sure you want to delete this Vehicle?')" class="btn btn-danger">Delete</a>
                </div>
            </div>
            <div class="modal" id="@Model.ElementAt(i).VehicleId">
                <div class="modal-content" style="width:320px">
                    <div class="modal-body" style="text-align:center">
                        <form method="post" asp-action="Update">
                            <input asp-for="@Model.ElementAt(i).VehicleId" hidden />
                            <input asp-for="@Model.ElementAt(i).Make" hidden />
                            @{ double mpg = (double)(Model.ElementAt(i).milesGone / Model.ElementAt(i).fuelUsed);
                                if (!double.IsNaN(mpg)) {
                                    <div style="padding:20px">
                                        <p>Estimate of: @mpg.ToString("#.##") MPG &nbsp;<i class="fas fa-info-circle"></i></p>
                                        <i class="fas fa-gas-pump"></i>&nbsp;<input asp-for="@Model.ElementAt(i).fuelUsed" value="" />
                                    </div>

                                }
                                else {
                                    <div style="padding:20px; border:thin solid #d51f1f;background-color:lightcoral">
                                        <p>Gallons of Fuel &nbsp;<i class="fas fa-info-circle"></i></p>
                                        <i class="fas fa-gas-pump"></i>&nbsp;<input asp-for="@Model.ElementAt(i).fuelUsed" value="" />
                                    </div>
                                }
                            }
                            <div style="padding:20px">
                                <p>Current Mileage</p>
                                <i class="fas fa-road"></i>&nbsp;<input asp-for="@Model.ElementAt(i).Mileage" />
                            </div>
                            <div style="padding:20px">
                                <input type="submit" class="btn btn-success w-40" value="Submit" />
                                <a asp-action="Index" class="btn btn-warning w-40"><i class="fas fa-sign-out-alt"></i> Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
    else {
        <p>No Vehicles Listed</p>
    }

    <div class="box" id="info" style="display:none; position:absolute">
        <div style="width:400px; background-color:#000000">
            <div style="text-align:left; padding:15px">
                <p>
                    This feature calculates your average fuel economy. For this to be accurate your mileage should only be updated when you get fuel. Results will not display until fuel levels have been put it with mileage twice in a row.
                </p>
            </div>
        </div>
    </div>
</div>

<script>

    var ib = document.getElementsByClassName('fas fa-info-circle');
    let info = document.getElementById('info');
    for (let i = 0; i < ib.length; i++) {
        var ibs = ib[i];
        ibs.addEventListener('click', function () {
            ibs.style.left = 
        })
    }
</script>